html {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	background-color: black;
	box-sizing: border-box;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: auto;
	height: 100%;
	text-rendering: optimizeLegibility;
	text-wrap: pretty;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 1em;
}

main {
	flex: 1;
	padding: 1em;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	/* resets go here */
}
